<header>
  <span>Node <em>&</em> Express</span>
  <nav>
    <a href="/">Main</a>
    <a href="/about">About</a>
  </nav>
  <form method="post" action="/check-user">
    <input type="text" placeholder="username" name="username">
    <button type="submit">Search</button>
  </form>
</header>