<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <%- include('block/header') -%>
  <main>
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero deleniti voluptatem architecto eos placeat quos sint quidem, veritatis impedit recusandae dolorem, non sequi qui reprehenderit odit dolor assumenda ipsa doloribus!</p>
  </main>
</body>

</html>