<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NODE JS</title>
  <style>
    body {
      color: #fff;
      background-color: #333;
      text-align: center;
      padding-top: 100px;
    }

    a {
      color: antiquewhite;
    }
  </style>
</head>

<body>
  <h1>Главная страница</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque inventore adipisci nisi earum porro optio
    eos vero, odit, natus soluta dicta dolor est dolorem voluptatem dolorum harum, fuga aliquid.</p>

  <a href="/about"> Про нас</a>
</body>

</html>